script.async src="https://platform.twitter.com/widgets.js" charset="utf-8"
= link_to 'Tweet', 'https://twitter.com/share?ref_src=twsrc%5Etfw', class: 'twitter-share-button',data: { hashtags: 'portfolio', lang: 'ja', size: 'large', text: sns_share_text(@user), url: current_page, show: { count: false } }
