/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
// #FIXME　デザインは実装後に変更する必要あり。
#sortable {
  margin: auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

#sortable:after {
  display: block;
  clear: both;
}

.photo {
  float: left; //横並び
  overflow: hidden; //はみ出し部分は非表示
  position: relative;
  width: 33%;
  height: 33%;
}
.photo img {
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.photo i {
  /*画像の左上に透明のエディットボタンを追加*/
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.portfolio_menu {
  height: 50px;
  margin-top: 30px;
  position: relative;
  .twitter_share {
    text-align: center;
  }
  .viewed_user {
    position: absolute;
    float: left;
    left: 20px;
    bottom: 5px;
  }
}

.header {
  height: 70px;
  width: 100%;
  background-color: rgb(63, 194, 218);
  position: fixed; // ヘッダーを固定
  z-index: 1;
  top: 0; // 固定する位置
  left: 0; // 固定する位置
  right: 0; // 固定する位置
  .header_innner {
    width: 100%;
    height: 70px;
  }
}

.header_left {
  width: 150px;
  float: left;
  display: inline-block;
  .header_logo {
    height: 70px;
    width: 150px;
  }
}

.header_center {
  height: 70px;
  text-align: center;
  display: inline-block;
  float: left;
  .button {
    float: left;
    border: 1px solid white;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    text-align: center;
    margin-left: 0;
    a {
      text-decoration: none;
      line-height: 70px;
      color: white;
      width: 97px;
      height: 70px;
      display: inline-block;
    }
    :hover {
      background-color: rgb(38, 81, 161);
      cursor: pointer;
      transition: 0.5s;
    }
  }
}

.header_right {
  margin-right: 10px;
  height: 70px;
  display: inline-block;
  float: right;
  .menu {
    height: 70px;
    text-align: center;
    :hover {
      transition: all ease 0.7s;
    }
    a {
      border-radius: 50%;
      height: 70px;
      display: block;
      text-decoration: none;
      text-align: center;
      margin: 0;
      padding: 0;
      color: white;
    }
    ul {
      padding: 0;
      list-style-type: none;
      overflow: hidden;
      transition: max-height ease 0.7s;
      text-align: center;
      width: 100px;
      max-height: 0;
      li {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        height: 30px;
        background-color: white;
        text-align: center;
        border: 1px solid rgb(160, 156, 156);
        border-top: 0;
        border-radius: 3px;
        :hover {
          background-color: rgb(224, 217, 217);
        }
        a {
          display: block;
          text-decoration: none;
          height: 30px;
          text-align: center;
          color: black;
          font-size: 16px;
          border-radius: 0%;
        }
      }
    }
  }
}

.header_right > .menu:hover > ul {
  max-height: 300px;
}

.main {
  padding-top: 80px;
  padding-left: 15%;
  padding-right: 15%;
  .portfolio_all {
    height: 900px;
  }
}

// スマホでポートフォリオを1画面に表示させるため
@media screen and (max-width: 480px) {
  .main {
    .portfolio_all {
      height: 500px;
    }
  }
}

.rounded_circle {
  border-radius: 50%;
  height: 70px;
}

.search_result {
  width: 150px;
  height: 200px;
  display: inline-block;
}

.user_index {
  width: 300px;
  height: 400px;
  margin: 10px;
  border: 1px solid skyblue;
  border-radius: 30px;
  float: left;
  text-align: center;
  .user_icon {
    display: inline-block;
    height: 30%;
    width: 100%;
    .rounded_circle {
      text-align: center;
    }
  }
  .user_content {
    height: 70%;
    display: inline-block;
    text-align: center;
    width: 100%;
    img {
      padding: 10px;
      text-align: center;
    }
    .content_index {
      height: 250px;
      width: 300px;
    }
  }
}

/* Curl Top Left */
.hvr-curl-top-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition: all ease 1s;
}
.hvr-curl-top-left:before {
  pointer-events: none;
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(135deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#000000');
  /*For IE7-8-9*/
  z-index: 1000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
.hvr-curl-top-left:hover:before,
.hvr-curl-top-left:focus:before,
.hvr-curl-top-left:active:before {
  //ページめくり余白にエディットボタンを挿入
  width: 90px;
  height: 90px;
  content: "\f044";
  font-size: 300%;
  font-family: FontAwesome;
  color: blue;
}

#search-box{
  position:relative;
  max-width:300px;
  margin-bottom:20px;
}
#search-form{
  height:45px;
  padding:0 20px;
  border-radius:25px;
  outline:0;
  background:#eee;
}
#search-btn{
  height:45px;
  width:50px;
  position:absolute;
  left:192px;
  top:0;
  background:#7fbfff;
  color:#fff;
  border:none;
  border-radius:0 25px 25px 0;
}
#search-btn .fa-search{
  font-size:20px;
  position:absolute;
  top:30%;
  left:30%;
}
#search-btn:hover{
  color:#888;
}

.search-result {
  margin: 10px 0;
  float: left;
  width: 100%;
}
.search-result img {
  width:30%;
  float: left;
}
.search-result p {
  margin: 0;
  padding: 10px;
}
.search-title {
  width: 70%;
  float: left;
}
