/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// #FIXME　デザインは実装後に変更する必要あり。
#sortable {
  margin: auto;
  padding: 0;
  width: 60%;
}

#sortable:after {
  display: block;
  clear: both;
}

.photo {
  float: left; //横並び
  overflow: hidden; //はみ出し部分は非表示
  position: relative;
  width: 33%;
  height: 300px;
}
.photo img {
  width: 100%;
  height: 100%;
  /*画像のセンタリング（中央寄せ）*/
  position: absolute;
}

.twitter_share {
  height: 50px;
  margin-top: 100px;
  text-align: center;
}

.header {
  height: 70px;
  width: 100%;
  text-align: center;
  background-color: rgb(63, 194, 218);
  position: fixed; // ヘッダーを固定
  z-index: 1;
  top: 0; // 固定する位置
  left: 0; // 固定する位置
  right: 0; // 固定する位置
}

.li {
  display: inline;
  padding: 0 5px;
}

.header_innner {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  float: left;
}

.header_center {
  width: 70%;
  text-align: center;
}

.header_center > .button {
  float: left;
  border: 1px solid white;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  text-align: center;
  margin-left: 0;
}

.header_center > .button:hover {
  background-color: rgb(38, 81, 161);
  cursor: pointer;
  transition: 0.5s;
}

.header_center > .button > a {
  text-decoration: none;
  line-height: 70px;
  color: white;
  width: 97px;
  height: 70px;
  display: inline-block;
}

#nav {
  max-height: 0px;
}

.header_right {
  width: 15%;
  margin-right: 30px;
  float: right;
  height: 70px;
  ul {
    padding: 0;
    text-align: center;
  }
  #nav > li {
    border: 1px solid rgb(187, 183, 183);
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    line-height: 30px;
    background-color: white;

    a {
      text-decoration: none;
      text-align: center;
      margin: 0;
      padding: 0;
      line-height: 30px;
      color: black;
    }
  }
}

.header_right > #nav > li:hover {
  background-color: rgb(177, 169, 169);
  cursor: pointer;
  transition: 0.5s;
}

.header_right > #nav > li > a {
  text-decoration: none;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 30px;
  width: 130px;
  height: 32px;
  color: black;
  display: inline-block;
}

.header_left {
  width: 20%;
  float: left;
}

.header_logo {
  height: 70px;
  width: 100%;
}

.rounded_circle {
  border-radius: 50%;
  height: 70px;
}

.search_result {
  width: 70px;
  height: 100px;
  display: inline-block;
}

.container {
  margin: 90px;
  height: 1000px;
}

.user_index {
  width: 300px;
  height: 400px;
  margin: 10px;
  border: 1px solid skyblue;
  border-radius: 30px;
  float: left;
  text-align: center;
}

.user_index > .user_icon {
  display: inline-block;
  height: 30%;
  width: 100%;
  .rounded_circle {
    text-align: center;
  }
}

.user_index > .user_content {
  height: 70%;
  display: inline-block;
  text-align: center;
  width: 100%;
  img {
    padding: 10px;
    text-align: center;
  }
}

.content_index {
  height: 250px;
  width: 300px;
}
