/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// #FIXME　デザインは実装後に変更する必要あり。
#sortable {
  margin: auto;
  padding: 0;
  width: 60%;
}

#sortable:after {
  display: block;
  clear: both;
}

.photo {
  float: left; //横並び
  overflow: hidden; //はみ出し部分は非表示
  position: relative;
  width: 33%;
  height: 300px;
}
.photo img {
  width: 100%;
  height: auto;
  /*画像のセンタリング（中央寄せ）*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.twitter_share {
  height: 50px;
  margin-top: 100px;
  text-align: center;
}

.header {
  height: 60px;
  width: 100%;
  text-align: center;
  background-color: white;
  position: fixed; // ヘッダーを固定
  z-index: 1;
  top: 0; // 固定する位置
  left: 0; // 固定する位置
  right: 0; // 固定する位置
}

.li {
  display: inline;
  padding: 0 5px;
}

.header_innner {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  float: left;
}

.header_center {
  width: 70%;
  text-align: center;
}

.button {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 10px;
  display: inline-block;
}

.header_right {
  width: 15%;
  margin-right: 50px;
  float: right;
}

.header_left {
  width: 15%;
  margin-left: 50px;
  float: left;
}

.rounded_circle {
  border-radius: 50%;
}
