meta name="twitter:card" content="summary_large_image"
meta name="twitter:site" content="@PORTFOL40205962"
meta property="og:url" content="#{url_for(only_path: false)}"
meta property="og:title" content="あなたの好きなものをポートフォリオ化できるサービス"
meta property="og:description" content="[portfolio]であなたの好きなものを公開してみませんか？"
meta property="og:image" content="https://thawing-harbor-72824.herokuapp.com/assets/title_logo-8cb3ed72d43666dfe7a982778bec8fb57c84a46cc7593e6913d171ab6f49149a.png"