meta name="twitter:card" content="summary_large_image"
meta name="twitter:site" content="@PORTFOL40205962"
meta property="og:url" content="#{url_for(only_path: false)}"
meta property="og:title" content="あなたの好きなものをポートフォリオ化できるサービス"
meta property="og:description" content="[portfolio]であなたの好きなものを公開してみませんか？"
meta property="og:image" content="#{asset_url('title_logo.png')}"